body{
    background-image: url("assets/images/login-background.avif");
    background-size: 100vw 100vh;
}

#main-content-container > div{
    margin-top: 10vh;
    padding: 2vh 2vw;
    box-shadow: 0 0 8px 2px gray;
    border-radius: .5vw;
    background-color: rgba(255, 255, 255, .4);

}